= form_for @user, :html => {:data => {:abide => ''}, :id => "general_form"},:url => update_user_registration_path(@user), :method => :post, remote: true do |f|
  .row
    .large-12.columns
      = devise_error_messages!
  .row
    .large-6.columns
      = f.password_field :current_password, autocomplete: "off", :required => '', placeholder: 'Current password', id: 'new_password'
      %small.error Password required
  .row
    .large-6.columns
      = f.password_field :password, autocomplete: "off", :required => '', placeholder: 'New password', id: 'update_password'
      %small.error Password's must match
  .row
    .large-6.columns
      = f.password_field :password_confirmation, autocomplete: "off", :required => '', placeholder: 'And again', 'data-equalto' => 'update_password'
      %small.error Password's must match
  .row
    .large-6.columns
      = f.submit "Update", :class => 'button small right', disabled: '', id: 'password_submit_button'