.row
  .large-6.columns
    = f.label :name
    = f.text_field :name, :required => ''
    %small.error Name is required
  .large-6.columns
    = f.label :property_type
    = f.collection_select :property_type_id, PropertyType.order(:name),:id,:name, {:include_blank => ''}, {:required => ''}
    %small.error Property type is required
-#
  .row
  .large-12.columns
    .row
      .large-6.columns
        .panel.callout.radius
          %label
            %i.fa.fa-photo
            Feature image
          %br/
          = f.file_field :promo_image, :pattern => "^.+?\.(jpg|JPG|jpeg|JPEG|png|PNG|gif|GIF)$"
          %small.error Needs to be an image: jpeg, jpg, gif or png
      .large-6.columns
        .panel.callout.radius
          %label
            %i.fa.fa-video-camera
            Feature video
          %br/
          = f.file_field :promo_video, :pattern => "^.+?\.(avi|AVI|mp4|MP4|wmv|WMV)$"
          %small.error Needs to be a video: avi, wmv, mp4
.row
  .large-6.columns
    .row
      .large-4.columns
        %span{style: "display: block;margin-top: 17px;"} Bedrooms:
      .large-2.columns
        %span#sliderOutput1{style: "display: block;margin-top: 17px;"}
      .large-6.columns
        = f.hidden_field :bedrooms, :id => "bedroom-input"
        .range-slider.round{"data-options" => "display_selector:#sliderOutput1; start: 1; end: 10;", "data-slider" => "", id: "bedroom-slider"}
          %span.range-slider-handle
          %span.range-slider-active-segment
          
  .large-6.columns
    .row
      .large-4.columns
        %span{style: "display: block;margin-top: 17px;"} Sleeps:
      .large-2.columns
        %span#sliderOutput2{style: "display: block;margin-top: 17px;"}
      .large-6.columns
        = f.hidden_field :capacity, :id => "capacity-input"
        .range-slider.round{"data-options" => "display_selector:#sliderOutput2; start: 1; end: 20;", "data-slider" => "", id: "capacity-slider"}
          %span.range-slider-handle
          %span.range-slider-active-segment
          
.row
  .large-12.columns
    = f.label :description
    = f.text_area :description, {:rows => '10'}       
