- if request.path != '/properties/new'
  = form_for @property, :html => {:data => {:abide => ''}, :id => "general_form"},:url => update_general_property_url(@property),:method => :post, remote: true do |f|
    .row
      .large-4.columns
        = f.text_field :name, placeholder: 'Property name', :id => 'property_name', :required => '', autofocus: true
        %small.error Name is required
      .large-4.columns
        = f.collection_select :property_type_id, PropertyType.order(:name),:id,:name,  {:include_blank => 'Select property type'}, {:required => ''}
        %small.error Property type is required
      .large-4.columns
        = f.collection_select :audience_id, Audience.order(:name),:id,:name,  {:include_blank => 'Choose your audience'}, {:required => ''}
        %small.error Audience type is required
    .row
      .large-9.columns
        = f.text_area :summary, placeholder: 'Property summary', :required => '', :id => 'property_summary', :rows => '10'
        %small.error Summary required
      .row
        .large-2.columns
          .row
            .large-12.columns
              %label= 'No of bedrooms'
              = f.select :bedrooms, [['1',1],['2',2]],{:include_blank => ''}, {:required => '', :id => 'property_bedrooms'}
              %small.error No. of bedrooms required
            .large-12.columns
              %label= 'Capacity'
              = f.select :capacity, [['1',1],['2',2],['3',3]],{:include_blank => ''}, {:required => '', :id => 'property_capacity'}
              %small.error Capacity required
    .row
      %hr
      .large-8.columns
        &nbsp;  
      .large-12.columns
        =f.submit 'Update', :class=>'button small round right', :id => 'edit_submit_button', :disabled => ''

- else
  .large-12.columns
    .row
      .large-6.columns
        = f.text_field :name, placeholder: 'Property name', :required => ''
        %small.error Name is required
      .large-6.columns
        = f.collection_select :property_type_id, PropertyType.order(:name),:id,:name,  {:include_blank => 'Property type'}, {:required => ''}
        %small.error Property type is required
    .row
      .large-6.columns
        %label= 'Select a promo image'
        = f.file_field :promo_image, :id => "promo-image-upload", :accept => "image/png,image/gif,image/jpeg"
      .large-3.columns
        %label= 'No of bedrooms'
        = f.select :bedrooms, [['1',1],['2',2]],{:include_blank => ''}, {:required => ''}
        %small.error No. of bedrooms required
      .large-3.columns
        %label= 'Capacity'
        = f.select :capacity, [['1',1],['2',2]],{:include_blank => ''}, {:required => ''}
        %small.error Capacity required

