= f.hidden_field :lat, :id => "lat", :value => "1"
= f.hidden_field :lng, :id => "lng", :value => "1"
%input{id: "zoom", type: "hidden", value: "1"}      
.row
  .large-4.columns
    = f.collection_select(:country_id, @countries, :id, :name, {:prompt   => "Select a Country"})
  - if request.path != '/properties/new'
    .large-4.columns
      = f.collection_select(:region_id, @regions, :id, :name)
    .large-4.columns
      = f.collection_select(:place_id, @places, :id, :name)
  -else
    .large-4.columns
      = f.select :region_id, ''
    .large-4.columns
      = f.select :place_id, ''