= form_for @property, :html => {:data => {:abide => ''}} do |f|
  .row
    %hr    
    %input{id: "zoom", type: "hidden", value: "1"}
  = render "general", :f=> f
  = render "geo", :f=> f
  .row
    .large-12.columns
      .row
        .large-4.columns
          %label= 'Choose a feature image:' 
        .large-8.columns
          = f.file_field :promo_image
  .row
    .large-12.columns
      %hr
  .row
    .large-4.columns
      = f.submit 'Save and continue', :class => 'button small', :id => "property_form", :value => "Save and continue", :name => "commit"
    .large-4.columns
      = f.submit 'Save for later', :class => 'button small secondary', :id => "property_form", :value => "Save for later", :name => "commit"
    .large-4.columns
      = link_to "Cancel", root_path, :class => 'button small alert right', :id => 'cancel'
