- content_for :javascript_includes do
  = javascript_include_tag "properties/edit_form.js"
  = javascript_include_tag "properties/general.js"
  
#overlay
#preloader
  #status
.row
  .small-12.large-12.columns
    #general_messages
      = render "layouts/messages"
    %p
      %a{name: "general"}
    %br/
    %h4.subheader.magellan-menu{"data-magellan-destination"=>"general"} General
.row
  #screen
    .small-3.large-3.columns
      #promo_image
        = render "promo_image" 
    .small-9.large-9.columns
      #general
        = render "general"
.row
  #screen
    .small-12.large-12.columns
      %p
        %a{name: "location"}
      %br/
      %h4.subheader.magellan-menu{"data-magellan-destination"=>"location"} Location
      
      #location_messages
        = render "layouts/messages"
      #location
        = render "location"
.row
  #screen
    .small-12.large-12.columns
      %p
        %a{name: "assets"}
      %br/  
      %h4.subheader.magellan-menu{"data-magellan-destination"=>"assets"} Media &amp; Docs
      %h6.subheader= 'Upload photos, videos and documents for this property. Optionally make them private.'
      %br
      #asset_messages
        = render "layouts/messages"
      .row
        .large-4.columns
          #create_asset
            .panel
              = render "property_assets/create_asset"
        .large-8.columns
          #assets
            = render "property_assets/assets"    
.row
  #screen
    .small-12.large-12.columns
      %p
        %a{name: "features"}
      %br/  
      %h4.subheader.magellan-menu{"data-magellan-destination"=>"features"} Features
      %h6.subheader= 'Select the features relevant to this property'
      = render "features"
        
.row
  #screen
    .small-12.large-12.columns
      %p
        %a{name: "descriptions"}
      %br/  
      %h4.subheader.magellan-menu{"data-magellan-destination"=>"descriptions"} Descriptions
      /= render "descriptions"