#preloader
  #status
- if @user.properties.empty?
  .row
    .small-12.large-12.columns
      %p= link_to 'Get started', new_property_path
- else
  .row
    .small-12.large-12.columns
      %br/
      %table
        %thead
          %tr
            %th.subheader= 'Property'
            %th.subheader= 'Name'
            %th.subheader= 'Created'
            %th.subheader= 'Updated'
            %th.subheader= 'Delete'
        %tbody
          - @user.properties.each do |property|
            %tr
              %td
                %ul.clearing-thumbs{"data-clearing" => ""}
                  %li
                    %a{href: property.promo_image.url}
                      %img{src: property.promo_image.url(:mini)}
              %td
                = link_to property.name, edit_property_path(property)
              %td= property.created_at.to_formatted_s(:long)
              %td= property.updated_at.to_formatted_s(:long)
              %td.text-center
                %a{"data-reveal-id" => "deleteModal", href: "#"}
                  %i.fa.fa-trash-o
                #deleteModal.reveal-modal.small.tiny{"data-reveal" => ""}
                  %h2 Delete Property
                  %p.lead Are you sure you wish to delete this property?
                  =link_to 'Delete', [property], method: :delete
                  %a.close-reveal-modal ×
  .row
    .small-12.large-12.columns    
      %p
        Got more?
        =link_to('Add another', new_property_path)
