- if @user.properties.empty?
  .row
    .small-12.large-12.columns
      %p= link_to 'Get started', new_property_path
- else
  .row
    .small-12.large-12.columns
      %h3= 'Manage properties'
      %table  
        %tr  
        - @user.properties.each do |property|
          %tr
            %td= image_tag property.promo_image.url(:thumb)
            %td= property.name
            %td= link_to 'Preview', property_path(property)
            %td= link_to 'Edit', edit_property_path(property)
            %td
              %a{"data-reveal-id" => "deleteModal", href: "#"} Delete
              #deleteModal.reveal-modal.small.tiny{"data-reveal" => ""}
                %h2 Delete Property
                %p.lead Are you sure you wish to delete this property?
                =link_to 'Delete', [property], method: :delete
                %a.close-reveal-modal ×
  .row
    .small-12.large-12.columns    
      %p
        Got more?
        =link_to('Add another', new_property_path)


  