= form_for @property, :html => {:data => {:abide => 'data-abide'}} do |f|
  .row
    .small-6.large-6.columns
      .row
        .small-12.large-12.columns
          %h4= "Add a property"
          %h5.subheader= "It won't go live just yet"   
          %hr    
        = render "general", :f=> f
        = render "location", :f=> f
      .row
        .small-12.large-12.columns
          %hr
        .large-4.columns
          = f.submit 'Save and continue', :class => 'button small', :id => "property_form", :value => "Save & continue", :name => "commit"
        .large-4.columns
          = f.submit 'Save for later', :class => 'button small secondary', :id => "property_form1", :value => "Save for later", :name => "commit"
        .large-4.columns
            
          = link_to "Cancel", root_path, :class => 'button small alert right', :id => 'cancel'
            
    .small-6.large-6.columns
      #new-property-map

- content_for :javascript_includes do
  = javascript_include_tag "properties/general.js"