= form_for ([@property, @property.property_assets.build]), remote: true  do |f|
  .row
    .large-12.columns
      = f.file_field :asset, :id => "asset_upload", :accept => "image/png,image/gif,image/jpeg"
  .row

  .row
    .large-12.columns
      = f.text_field :description, :placeholder => "Description"
  .row
    .large-8.columns
      %p.text
        = f.check_box :private, :id => 'private'
        %label{for: "private"} Mark as private
    .large-4.columns      
      = f.submit 'Add file', :class => 'button small right'    
 

