$("#create_asset").html("#{escape_javascript(render 'create_asset')}");
$("#images").html("#{escape_javascript(render partial: 'property_assets/images' , locals: { assets: @images})}");
$("#videos").html("#{escape_javascript(render 'videos')}");
$("#docs").html("#{escape_javascript(render 'docs')}");
$("#messages").html("#{escape_javascript(render partial: 'layouts/messages')}");

$('#asset_upload').on('change', function () {
document.getElementById('asset_upload_submit').disabled = false;
});
